<html>
  <head>
    <meta charset="UTF-8" />
    <title>Goddess Guild v0.0.1</title>
    <link rel="icon" type="image/svg" href="metamask-fox.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
  </head>

  <body>
    <main class="container-fluid">
      <header>
        <div id="logo-container">
          <h1 id="logo-text" class="text-center">
            Goddess Guild v0.0.1
          </h1>

  
        </div>
      </header>
      <section>
        <h3 class="card-title">
          Status
        </h3>

        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">
              Network: <span id="network"></span>
            </p>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-secondary">
              ChainId: <span id="chainId"></span>
            </p>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-success">
              Accounts: <span id="accounts"></span>
            </p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  Basic Actions
                </h4>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="connectButton"
                  disabled
                >
                  Connect
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="getAccounts"
                >
                  eth_accounts
                </button>

                <p class="info-text alert alert-secondary">
                  eth_accounts result: <span id="getAccountsResult"></span>
                </p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  Permissions Actions
                </h4>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="requestPermissions"
                >
                  Request JWT Token
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="getPermissions"
                >
                  Get Protected Page
                </button>

                <p class="info-text alert alert-secondary">
                  Permissions result: <span id="permissionsResult"></span>
                </p>
              </div>

          </div>
        </div>
      </section>



      <section>
        <div class="row">
          <div
            class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-stretch"
          >
            <div class="card full-width">
              <div class="card-body">
                <h4 class="card-title">
                  Write a Review
                </h4>

                <form action="set-review" method="POST">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                    <input type="text" name="rating" id="rating" placeholder="rating" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <textarea class="form-control" name="review" id="review" placeholder="review" rows="4"></textarea>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="src_addr" id="src_addr" placeholder="src_addr" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="dst_addr" id="dst_addr" placeholder="dst_addr" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="transaction_id" id="transaction_id" placeholder="transaction_id" class="form-control" />
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                </form>


              </div>
            </div>
          </div>

          <div
            class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-stretch"
          >
            <div class="card full-width">
              <div class="card-body">
                <h4 class="card-title">
                  Create Patron
                </h4>
                
                <form action="patron" method="POST">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                    <input type="text" name="owner_wallet_addr" id="owner_wallet_addr" placeholder="owner_wallet_addr" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="name" id="name" placeholder="name" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="profile_link" id="profile_link" placeholder="profile_link" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="division" id="division" placeholder="division" class="form-control" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="temple" id="temple" placeholder="temple" class="form-control" />
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">Create Patron</button>
                </form>


               
              </div>
            </div>
          </div>

          <div
          class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-stretch"
        >
          <div class="card full-width">
            <div class="card-body">
              <h4 class="card-title">
                Create Goddess
              </h4>
              
              <form action="goddess" method="POST">
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" name="owner_wallet_addr" id="owner_wallet_addr" placeholder="owner_wallet_addr" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="name" id="name" placeholder="name" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="profile_link" id="profile_link" placeholder="profile_link" class="form-control" />
                </div>
        
                <div class="form-outline mb-4">
                  <input type="text" name="temple" id="temple" placeholder="temple" class="form-control" />
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Create Goddess</button>
              </form>

       

             
            </div>
          </div>
        </div>

          <div
            class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-stretch"
          >
            <div class="card full-width">
              <div class="card-body">
                <h4 class="card-title">
                  Temple Info
                </h4>

                <p class="info-text alert alert-success">
                  Temple: <span id="templeAddress"></span>
                </p>

                <div id="get-temple-stats">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Temple Address"
                    id="templeAddressInput"
                  />

                  <button
                    class="btn btn-primary btn-lg btn-block mb-3"
                    id="getTempleStats"
                  >
                    Get Temple Stats
                  </button>
                </div>

                <p class="info-text alert alert-secondary">
                  Goddesses: <span id="templeGoddessesDisplay"></span>
                </p>

                <p class="info-text alert alert-secondary">
                  Patrons: <span id="templePatronsDisplay"></span>
                </p>

                <p class="info-text alert alert-secondary">
                  Temple Name: <span id="templeNameDisplay"></span>
                </p>
                <p class="info-text alert alert-secondary">
                  Temple Base Rate: <span id="templeBaseRateDisplay"></span>
                </p>
<!-- 

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="createToken"
                  disabled
                >
                  List Temple
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="transferTokens"
                  disabled
                >
                  Transfer Tokens
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="approveTokens"
                  disabled
                >
                  Approve Tokens
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="transferTokensWithoutGas"
                  disabled
                >
                  Transfer Tokens Without Gas
                </button>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="approveTokensWithoutGas"
                  disabled
                >
                  Approve Tokens Without Gas
                </button> -->

              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div
            class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-stretch"
          >
            <div class="card full-width">
              <div class="card-body">
                <h4 class="card-title">
                  Private Session
                </h4>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="getEncryptionKeyButton"
                  disabled
                >
                  Request Session
                </button>

                <hr />

                <div id="encrypt-message-form">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="0xAddress of Goddess"
                    id="encryptMessageInput"
                  />

                  <button
                    class="btn btn-primary btn-lg btn-block mb-3"
                    id="encryptButton"
                    disabled
                  >
                    Confirm Session
                  </button>
                </div>

                <hr />

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="decryptButton"
                  disabled
                >
                  Session Details
                </button>

                <p class="info-text alert alert-secondary">
                  Donation: <span id="encryptionKeyDisplay"></span>
                </p>

                <p class="info-text text-truncate alert alert-secondary">
                  Datetime: <span id="ciphertextDisplay"></span>
                </p>
                <p class="info-text text-truncate alert alert-secondary">
                  Location: <span id="signTypedData"></span>
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="/static/js/bundle.js" defer></script>
  </body>
</html>
